<!DOCTYPE html>
<html>
  <head>
    <title>Turf War</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-transparent">
      <h1 id="navbar-title"><%= link_to "TURF WAR", gangs_path %></h1>
      <div class="navbar-add mx-3">
        <%= link_to new_gang_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
